{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ task_object.name }}</title>
    <link rel="stylesheet" href="{% static 'css/apr.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="project-detail">
            <h1>{{ task_object.name }}</h1>
            <p>Due by: {{ task_object.due_date|date:"M. j, Y, f a" }}</p>
            <p>Is completed: {{ task_object.is_completed|yesno:"yes,no" }}</p>
            <p><b>{{ task_object.description }}</b></p>
        </div>
    </main>
</body>
</html>